* {
    user-select: none;
    -webkit-user-drag: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#left-bar {
    background-color: #aeaeae;
    width: 420px;

    display: flex;
    flex-direction: column;
}

.user-div {
    background-color: #1a1a1a;
    height: 81px;
    border-bottom: 3.5px white solid;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.user-icon {
    margin-left: 7.5px;

    background-color: #646464;
    width: 64px;
    height: 64px;
    border-radius: 32px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.user-icon > img {
    width: 48px;
    height: 48px;
}

.user-data-div {
    margin-left: 7.5px;

    font-size: 17px;
}
.user-name {
    color: white;
}
.user-role {
    color: red;
}

#content {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    pointer-events: none;
}

#card-group {
    width: 379px;
    height: 186px;

    display: grid;
    column-gap: 10px;
    row-gap: 10.5px;

    grid-template-columns: auto auto auto auto;
    justify-content: center;
    align-items: center;
}

#start-button {
    background-color: #363636;
    color: white;
    width: 126px;
    height: 50px;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 27.5px;

    margin-top: 20px;
}
.card {
    background-color: #bcbcbc;
    color: white;
    width: 89.5px;
    height: 89.5px;
    font-size: 20px;

    border-radius: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#users {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 30px;
}

/* <div id="main">
<div id="left-bar"></div>
<div id="content">
    <div id="card-group">
        <div class="card" alt="animals">Animals</div>
    </div>
    <div id="start-button">START</div>
</div>
</div> */
